body{
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 20px;
    color: white;
}

#myCanvas{
    background-color: rgb(48, 55, 67);
}